.quote-container {
    width: 588px;
    height: 178px;
    margin:  79px auto; /* Center horizontally */
    text-align: center;
  }
  
  .story {
    margin: 0px;
    width: 100%; /* Full width */
    font-size: 36px;
    font-weight: 400;
    line-height: 39.6px;
    letter-spacing: -0.02em;
    color: #2da950;
  }
  
  .context {
    margin: 0px;
    width: 100%; /* Full width */
    font-family: "Manrope", sans-serif;
    font-size: 56px;
    font-weight: 600;
    line-height: 67.2px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #1c1c1c;
  }
  
  .covered-by-your-grace-regular {
    font-family: "Covered By Your Grace", cursive;
    font-weight: 400;
    font-style: normal;
  }
  